.full-width {
  width: 100%;
}

.empty {
  padding: 16px;
  color: var(--mat-sys-outline);
}

.weekend-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: red;
  margin-right: 6px;
  vertical-align: middle;
}


